index.html
{
  "name": "DocMaster IA — Agent Elite Traitement Documents",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docmaster",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "📥 Webhook Réception Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "docmaster-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst documentText = body.document_text || body.email_body || '';\nconst fileData = body.file_base64 || '';\nconst fileUrl = body.file_url || '';\n\nif (!documentText && !fileData && !fileUrl) {\n  throw new Error('Champ requis manquant: document_text, file_base64, ou file_url');\n}\n\nconst processingId = 'proc_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nreturn [{\n  json: {\n    processingId,\n    fileData: fileData,\n    fileUrl: fileUrl,\n    fileName: body.file_name || 'document_' + Date.now() + '.pdf',\n    clientId: body.client_id || 'default',\n    clientName: body.client_name || 'Client inconnu',\n    emailSubject: body.email_subject || '',\n    documentText: documentText.substring(0, 50000),\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "🔧 Préparation & Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es un expert en classification de documents d'entreprise. Analyse le document et reponds UNIQUEMENT en JSON valide, sans markdown, sans backticks, sans explication.\n\nNom fichier: ${data.fileName}\nSujet email: ${data.emailSubject}\nContenu: ${data.documentText}\n\nReponds avec ce JSON exact (choisis UN seul type parmi FACTURE, CONTRAT, EMAIL, BON_COMMANDE, AUTRE):\n{\"type\": \"FACTURE\", \"confidence\": 0.95, \"langue\": \"fr\", \"urgence\": \"normale\", \"resume_court\": \"resume en 1 phrase\"}`;\n\nconst payload = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 512,\n  temperature: 0,\n  messages: [\n    { role: 'user', content: prompt }\n  ]\n};\n\nreturn [{\n  json: {\n    ...data,\n    apiPayload: JSON.stringify(payload)\n  }\n}];"
      },
      "id": "build-classification-prompt",
      "name": "📝 Build Classification Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiPayload }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "classify-document",
      "name": "🧠 Classification IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet classificationText = '';\nif (response.content && Array.isArray(response.content)) {\n  const textBlock = response.content.find(b => b.type === 'text');\n  classificationText = textBlock ? textBlock.text : '';\n} else if (typeof response.content === 'string') {\n  classificationText = response.content;\n}\n\nconst cleaned = classificationText\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet classification = {};\ntry {\n  classification = JSON.parse(cleaned);\n} catch(e) {\n  classification = {\n    type: 'AUTRE',\n    confidence: 0.5,\n    langue: 'fr',\n    urgence: 'normale',\n    resume_court: 'Document non classifie automatiquement'\n  };\n}\n\nconst validTypes = ['FACTURE', 'CONTRAT', 'EMAIL', 'BON_COMMANDE', 'AUTRE'];\nconst docType = validTypes.includes(classification.type) ? classification.type : 'AUTRE';\n\nconst prevData = $('🔧 Préparation & Validation').first().json;\n\nreturn [{\n  json: {\n    ...prevData,\n    classification,\n    docType,\n    confidence: classification.confidence || 0.5,\n    urgence: classification.urgence || 'normale',\n    resumeCourt: classification.resume_court || '',\n    classifiedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-classification",
      "name": "📊 Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.docType }}", "rightValue": "FACTURE", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facture"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.docType }}", "rightValue": "CONTRAT", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contrat"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.docType }}", "rightValue": "BON_COMMANDE", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BonCommande"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.docType }}", "rightValue": "EMAIL", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "route-document",
      "name": "🔀 Routage par type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es un expert comptable. Extrais toutes les informations de cette facture fournisseur.\n\nTexte: ${data.documentText}\nFichier: ${data.fileName}\n\nReponds UNIQUEMENT en JSON valide sans markdown:\n{\"numero_facture\": \"\", \"date_facture\": \"\", \"date_echeance\": \"\", \"fournisseur_nom\": \"\", \"fournisseur_siret\": \"\", \"fournisseur_adresse\": \"\", \"fournisseur_email\": \"\", \"client_nom\": \"\", \"montant_ht\": 0, \"tva_taux\": 20, \"montant_tva\": 0, \"montant_ttc\": 0, \"devise\": \"EUR\", \"lignes_detail\": [], \"mode_paiement\": \"\", \"iban\": \"\", \"statut\": \"A_PAYER\", \"notes\": \"\"}`;\n\nconst payload = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  temperature: 0,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { ...data, apiPayload: payload } }];"
      },
      "id": "build-facture-prompt",
      "name": "📝 Build Facture Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es un expert juridique. Analyse ce contrat et extrais les informations cles.\n\nTexte: ${data.documentText}\nFichier: ${data.fileName}\n\nReponds UNIQUEMENT en JSON valide sans markdown:\n{\"titre_contrat\": \"\", \"type_contrat\": \"\", \"date_signature\": \"\", \"date_debut\": \"\", \"date_fin\": \"\", \"duree\": \"\", \"reconduction_tacite\": false, \"preavis_resiliation\": \"\", \"partie_1_nom\": \"\", \"partie_1_siret\": \"\", \"partie_2_nom\": \"\", \"partie_2_siret\": \"\", \"montant_contrat\": 0, \"periodicite_paiement\": \"\", \"clauses_importantes\": [], \"obligations_partie_1\": [], \"obligations_partie_2\": [], \"penalites\": \"\", \"juridiction\": \"\", \"statut\": \"ACTIF\", \"alertes\": [], \"resume\": \"\"}`;\n\nconst payload = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 3000,\n  temperature: 0,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { ...data, apiPayload: payload } }];"
      },
      "id": "build-contrat-prompt",
      "name": "📝 Build Contrat Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es un expert en achats. Extrais les informations de ce bon de commande.\n\nTexte: ${data.documentText}\nFichier: ${data.fileName}\n\nReponds UNIQUEMENT en JSON valide sans markdown:\n{\"numero_bc\": \"\", \"date_commande\": \"\", \"date_livraison_souhaitee\": \"\", \"fournisseur_nom\": \"\", \"fournisseur_contact\": \"\", \"acheteur_nom\": \"\", \"acheteur_service\": \"\", \"adresse_livraison\": \"\", \"lignes_commande\": [], \"montant_ht\": 0, \"montant_tva\": 0, \"montant_ttc\": 0, \"conditions_paiement\": \"\", \"statut\": \"EN_ATTENTE\", \"priorite\": \"normale\", \"notes\": \"\"}`;\n\nconst payload = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  temperature: 0,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { ...data, apiPayload: payload } }];"
      },
      "id": "build-bc-prompt",
      "name": "📝 Build BC Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `Tu es un assistant de direction. Analyse cet email professionnel.\n\nSujet: ${data.emailSubject}\nContenu: ${data.documentText}\n\nReponds UNIQUEMENT en JSON valide sans markdown:\n{\"expediteur\": \"\", \"expediteur_email\": \"\", \"destinataires\": [], \"sujet\": \"\", \"date_reception\": \"\", \"categorie\": \"COMMERCIAL\", \"sentiment\": \"neutre\", \"action_requise\": true, \"action_description\": \"\", \"deadline_action\": \"\", \"priorite\": \"normale\", \"resume\": \"\", \"points_cles\": [], \"reponse_suggere\": \"\"}`;\n\nconst payload = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1500,\n  temperature: 0,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { ...data, apiPayload: payload } }];"
      },
      "id": "build-email-prompt",
      "name": "📝 Build Email Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 680]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiPayload }}",
        "options": { "timeout": 60000, "response": { "response": { "fullResponse": false, "responseFormat": "json" } } }
      },
      "id": "extract-facture",
      "name": "📄 Extraction Facture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 140],
      "credentials": { "httpHeaderAuth": { "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiPayload }}",
        "options": { "timeout": 60000, "response": { "response": { "fullResponse": false, "responseFormat": "json" } } }
      },
      "id": "extract-contrat",
      "name": "📜 Extraction Contrat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 320],
      "credentials": { "httpHeaderAuth": { "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiPayload }}",
        "options": { "timeout": 60000, "response": { "response": { "fullResponse": false, "responseFormat": "json" } } }
      },
      "id": "extract-bc",
      "name": "🛒 Extraction Bon de Commande",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 500],
      "credentials": { "httpHeaderAuth": { "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.apiPayload }}",
        "options": { "timeout": 60000, "response": { "response": { "fullResponse": false, "responseFormat": "json" } } }
      },
      "id": "extract-email",
      "name": "📧 Extraction Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 680],
      "credentials": { "httpHeaderAuth": { "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nlet extractedText = '';\nif (response.content && Array.isArray(response.content)) {\n  const textBlock = response.content.find(b => b.type === 'text');\n  extractedText = textBlock ? textBlock.text : '';\n} else if (typeof response.content === 'string') {\n  extractedText = response.content;\n}\n\nconst cleaned = extractedText\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet extracted = {};\ntry {\n  extracted = JSON.parse(cleaned);\n} catch(e) {\n  extracted = { erreur: 'Parsing echoue', raw: extractedText.substring(0, 300) };\n}\n\nlet contextData = {};\ntry { contextData = $('📊 Parse Classification').first().json; } catch(e) {}\n\n// Champs aplatis pour sauvegarde\nlet numero = '', date = '', tiers = '', montant = 0, echeance = '', statut = '';\n\nif (contextData.docType === 'FACTURE') {\n  numero = extracted.numero_facture || ''; date = extracted.date_facture || '';\n  tiers = extracted.fournisseur_nom || ''; montant = extracted.montant_ttc || 0;\n  echeance = extracted.date_echeance || ''; statut = extracted.statut || '';\n} else if (contextData.docType === 'CONTRAT') {\n  numero = extracted.titre_contrat || ''; date = extracted.date_signature || '';\n  tiers = extracted.partie_2_nom || ''; montant = extracted.montant_contrat || 0;\n  echeance = extracted.date_fin || ''; statut = extracted.statut || '';\n} else if (contextData.docType === 'BON_COMMANDE') {\n  numero = extracted.numero_bc || ''; date = extracted.date_commande || '';\n  tiers = extracted.fournisseur_nom || ''; montant = extracted.montant_ttc || 0;\n  echeance = extracted.date_livraison_souhaitee || ''; statut = extracted.statut || '';\n} else if (contextData.docType === 'EMAIL') {\n  numero = extracted.sujet || ''; date = extracted.date_reception || '';\n  tiers = extracted.expediteur || ''; montant = 0;\n  echeance = extracted.deadline_action || ''; statut = extracted.categorie || '';\n}\n\nreturn [{\n  json: {\n    ...contextData,\n    extracted,\n    extractedJson: JSON.stringify(extracted),\n    numero, date, tiers, montant, echeance, statut,\n    processedAt: new Date().toISOString(),\n    success: !extracted.erreur\n  }\n}];"
      },
      "id": "merge-results",
      "name": "🔗 Fusion des résultats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "VOTRE_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Documents" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Traitement": "={{ $json.processingId }}",
            "Date traitement": "={{ $json.processedAt }}",
            "Type": "={{ $json.docType }}",
            "Client": "={{ $json.clientName }}",
            "Nom fichier": "={{ $json.fileName }}",
            "Numero": "={{ $json.numero }}",
            "Date doc": "={{ $json.date }}",
            "Tiers": "={{ $json.tiers }}",
            "Montant": "={{ $json.montant }}",
            "Echeance": "={{ $json.echeance }}",
            "Statut": "={{ $json.statut }}",
            "Urgence": "={{ $json.urgence }}",
            "Resume": "={{ $json.resumeCourt }}",
            "Donnees completes": "={{ $json.extractedJson }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": { "valueInputMode": "USER_ENTERED" }
      },
      "id": "save-google-sheets",
      "name": "📊 Sauvegarde Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 260],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": { "__rl": true, "mode": "id", "value": "VOTRE_NOTION_DATABASE_ID" },
        "title": "={{ $json.numero || $json.fileName }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "Type|select", "selectValue": "={{ $json.docType }}" },
            { "key": "Client|rich_text", "textContent": "={{ $json.clientName }}" },
            { "key": "Statut|select", "selectValue": "Traité" },
            { "key": "Resume|rich_text", "textContent": "={{ $json.resumeCourt }}" }
          ]
        },
        "blockUi": {
          "blockValues": [
            { "type": "heading_2", "textContent": "Donnees extraites" },
            { "type": "code", "textContent": "={{ $json.extractedJson }}", "language": "json" }
          ]
        }
      },
      "id": "save-notion",
      "name": "📓 Sauvegarde Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2220, 420],
      "credentials": { "notionApi": { "name": "Notion API" } }
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "mode": "id", "value": "VOTRE_AIRTABLE_BASE_ID" },
        "table": { "__rl": true, "mode": "name", "value": "Documents" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom fichier": "={{ $json.fileName }}",
            "Type": "={{ $json.docType }}",
            "Client": "={{ $json.clientName }}",
            "Date traitement": "={{ $json.processedAt }}",
            "Numero": "={{ $json.numero }}",
            "Tiers": "={{ $json.tiers }}",
            "Montant": "={{ $json.montant }}",
            "Statut": "={{ $json.statut }}",
            "Urgence": "={{ $json.urgence }}",
            "Resume": "={{ $json.resumeCourt }}",
            "Donnees extraites": "={{ $json.extractedJson }}"
          },
          "matchingColumns": [], "schema": []
        },
        "options": {}
      },
      "id": "save-airtable",
      "name": "🗃️ Sauvegarde Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2220, 580],
      "credentials": { "airtableTokenApi": { "name": "Airtable API" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst d = items[0]?.json || {};\n\nreturn [{\n  json: {\n    success: true,\n    processingId: d.processingId,\n    document: {\n      nom: d.fileName,\n      type: d.docType,\n      client: d.clientName,\n      urgence: d.urgence,\n      resume: d.resumeCourt,\n      confidence: d.confidence,\n      recu_le: d.receivedAt,\n      traite_le: d.processedAt\n    },\n    extraction: d.extracted || {},\n    destinations: ['Google Sheets', 'Notion', 'Airtable'],\n    message: '✅ Document traite avec succes — Type: ' + d.docType + ' — Client: ' + d.clientName\n  }\n}];"
      },
      "id": "build-response",
      "name": "✅ Construction réponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "webhook-response",
      "name": "📤 Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 420]
    }
  ],
  "connections": {
    "📥 Webhook Réception Document": {
      "main": [[{ "node": "🔧 Préparation & Validation", "type": "main", "index": 0 }]]
    },
    "🔧 Préparation & Validation": {
      "main": [[{ "node": "📝 Build Classification Prompt", "type": "main", "index": 0 }]]
    },
    "📝 Build Classification Prompt": {
      "main": [[{ "node": "🧠 Classification IA", "type": "main", "index": 0 }]]
    },
    "🧠 Classification IA": {
      "main": [[{ "node": "📊 Parse Classification", "type": "main", "index": 0 }]]
    },
    "📊 Parse Classification": {
      "main": [[{ "node": "🔀 Routage par type", "type": "main", "index": 0 }]]
    },
    "🔀 Routage par type": {
      "main": [
        [{ "node": "📝 Build Facture Prompt", "type": "main", "index": 0 }],
        [{ "node": "📝 Build Contrat Prompt", "type": "main", "index": 0 }],
        [{ "node": "📝 Build BC Prompt", "type": "main", "index": 0 }],
        [{ "node": "📝 Build Email Prompt", "type": "main", "index": 0 }]
      ]
    },
    "📝 Build Facture Prompt": {
      "main": [[{ "node": "📄 Extraction Facture", "type": "main", "index": 0 }]]
    },
    "📝 Build Contrat Prompt": {
      "main": [[{ "node": "📜 Extraction Contrat", "type": "main", "index": 0 }]]
    },
    "📝 Build BC Prompt": {
      "main": [[{ "node": "🛒 Extraction Bon de Commande", "type": "main", "index": 0 }]]
    },
    "📝 Build Email Prompt": {
      "main": [[{ "node": "📧 Extraction Email", "type": "main", "index": 0 }]]
    },
    "📄 Extraction Facture": {
      "main": [[{ "node": "🔗 Fusion des résultats", "type": "main", "index": 0 }]]
    },
    "📜 Extraction Contrat": {
      "main": [[{ "node": "🔗 Fusion des résultats", "type": "main", "index": 0 }]]
    },
    "🛒 Extraction Bon de Commande": {
      "main": [[{ "node": "🔗 Fusion des résultats", "type": "main", "index": 0 }]]
    },
    "📧 Extraction Email": {
      "main": [[{ "node": "🔗 Fusion des résultats", "type": "main", "index": 0 }]]
    },
    "🔗 Fusion des résultats": {
      "main": [[
        { "node": "📊 Sauvegarde Google Sheets", "type": "main", "index": 0 },
        { "node": "📓 Sauvegarde Notion", "type": "main", "index": 0 },
        { "node": "🗃️ Sauvegarde Airtable", "type": "main", "index": 0 }
      ]]
    },
    "📊 Sauvegarde Google Sheets": {
      "main": [[{ "node": "✅ Construction réponse", "type": "main", "index": 0 }]]
    },
    "📓 Sauvegarde Notion": {
      "main": [[{ "node": "✅ Construction réponse", "type": "main", "index": 0 }]]
    },
    "🗃️ Sauvegarde Airtable": {
      "main": [[{ "node": "✅ Construction réponse", "type": "main", "index": 0 }]]
    },
    "✅ Construction réponse": {
      "main": [[{ "node": "📤 Réponse Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": { "instanceId": "docmaster-elite-v3" },
  "pinData": {},
  "versionId": "3.0.0",
  "triggerCount": 1,
  "tags": [
    { "name": "agent-ia", "createdAt": "2026-01-01T00:00:00.000Z" },
    { "name": "documents", "createdAt": "2026-01-01T00:00:00.000Z" },
    { "name": "elite", "createdAt": "2026-01-01T00:00:00.000Z" }
  ]
}
